<div
  class="gfh-sidebar-container pt-1"
  [style.width.px]="sidebarWidth"
  (mouseenter)="expandSidebar()"
  (mouseleave)="collapseSidebar()"
>
  <nav class="nav flex-column">
    <!-- Botón HOME -->
    <div class="row">
      <div class="col-12">
        <div class="gfh-container-btn-sidebar">
          <button
            type="button"
            class="gfh-btn-sidebar"
            routerLink="/private/home"
            (click)="selectOptionSidebar('home')"
            [ngClass]="{ selected: activeDashboard && !sidebarComprimido }"
            [disabled]="isGuest == true"
            >
            <img
              src="/assets/img/icon-home{{ activeDashboard ? '-blue' : '' }}.svg"
              [ngClass]="{ selected: activeDashboard && sidebarComprimido }"
            />HOME
          </button>
        </div>
      </div>
    </div>

    <!-- Botón Mantenedor Usuarios -->
    <div class="row">
      <div class="col-12">
        <div class="gfh-container-btn-sidebar">
          <button
            type="button"
            class="gfh-btn-sidebar"
            routerLink="/private/listado-mantenedor-usuarios"
            (click)="selectOptionSidebar('mantenedorUsuarios')"
            [ngClass]="{
              selected: activeMantenedorUsuarios && !sidebarComprimido
            }"
            [disabled]="isGuest == true"
          >
            <img
              src="/assets/img/icon-mantenedor-usuarios{{
                activeMantenedorUsuarios ? '-blue' : ''
              }}.svg"
              [ngClass]="{
                selected: activeMantenedorUsuarios && sidebarComprimido
              }"
            />Mantenedor Usuarios
          </button>
        </div>
      </div>
    </div>

    <!-- Botón Factor de Corrección -->
    <div class="row">
      <div class="col-12">
        <div class="gfh-container-btn-sidebar">
          <button
            type="button"
            class="gfh-btn-sidebar"
            routerLink="/private/listado-factor-correccion"
            (click)="selectOptionSidebar('factorCorreccion')"
            [ngClass]="{
              selected: activeFactorCorreccion && !sidebarComprimido
            }"
            [disabled]="isGuest == true"
          >
            <img
              src="/assets/img/icon-factor-correccion{{
                activeFactorCorreccion ? '-blue' : ''
              }}.svg"
              [ngClass]="{
                selected: activeFactorCorreccion && sidebarComprimido
              }"
            />Factor de Corrección
          </button>
        </div>
      </div>
    </div>

    <!-- Botón Historial Actividades -->
    <div class="row">
      <div class="col-12">
        <div class="gfh-container-btn-sidebar">
          <button
            type="button"
            class="gfh-btn-sidebar"
            routerLink="/private/listado-historial-actividades"
            (click)="selectOptionSidebar('historialActividades')"
            [ngClass]="{
              selected: activeHistorialActividades && !sidebarComprimido
            }"
            [disabled]="isGuest == true"
          >
            <img
              src="/assets/img/icon-historial-actividades{{
                activeHistorialActividades ? '-blue' : ''
              }}.svg"
              [ngClass]="{
                selected: activeHistorialActividades && sidebarComprimido
              }"
            />Historial Actividades
          </button>
        </div>
      </div>
    </div>

    <!-- Botón Cierre Clientes -->
    <div class="row">
      <div class="col-12">
        <div class="gfh-container-btn-sidebar">
          <button
            type="button"
            class="gfh-btn-sidebar"
            routerLink="/private/listado-cierre-clientes"
            (click)="selectOptionSidebar('cierreClientes')"
            [ngClass]="{ selected: activeCierreClientes && !sidebarComprimido }"
            [disabled]="isGuest == true"
            >
            <img
              src="/assets/img/icon-cierre-clientes{{
                activeCierreClientes ? '-blue' : ''
              }}.svg"
              [ngClass]="{
                selected: activeCierreClientes && sidebarComprimido
              }"
            />Cierre Clientes
          </button>
        </div>
      </div>
    </div>

    <!-- Botón Contabilizar -->
    <div class="row">
      <div class="col-12">
        <div class="gfh-container-btn-sidebar">
          <button
            type="button"
            class="gfh-btn-sidebar"
            routerLink="/private/listado-contabilizar"
            (click)="selectOptionSidebar('contabilizar')"
            [ngClass]="{ selected: activeContabilizar && !sidebarComprimido }"
            [disabled]="isGuest == true"
            >
            <img
              src="/assets/img/icon-contabilizar{{
                activeContabilizar ? '-blue' : ''
              }}.svg"
              [ngClass]="{ selected: activeContabilizar && sidebarComprimido }"
            />Contabilizar
          </button>
        </div>
      </div>
    </div>

    <!-- Botón Reporte Cierre Clientes -->
    <div class="row">
      <div class="col-12">
        <div class="gfh-container-btn-sidebar">
          <button
            type="button"
            class="gfh-btn-sidebar"
            routerLink="/private/listado-reporte-cierre-clientes"
            (click)="selectOptionSidebar('reporteCierreClientes')"
            [ngClass]="{
              selected: activeReporteCierreClientes && !sidebarComprimido
            }"
            [disabled]="isGuest == true"
          >
            <img
              src="/assets/img/icon-reporte-cierre-clientes{{
                activeReporteCierreClientes ? '-blue' : ''
              }}.svg"
              [ngClass]="{
                selected: activeReporteCierreClientes && sidebarComprimido
              }"
            />Reporte Cierre Clientes
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
