::-webkit-scrollbar {
    width: 5px;
    position: absolute;
    right: 5px;
}

::-webkit-scrollbar-thumb {
    background: #A0A0A3;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #F0F0F0;
}
