<div class="container-fluid p-5 pb-3 pt-3">
  <div class="ms-5">
    <div class="row">

      <!-- BREADCRUMB -->
      <div class="col-12 mb-3 d-flex align-items-center justify-content-between">
        <p class="gfh-titulo-component">Gestión de Gastos</p>
        <button type="button" class="btn gfh-btn-add d-none d-sm-block">
          <img src="assets/img/add.svg" alt="Añadir" class="me-2">Añadir Gasto
        </button>
        <button type="button" class="btn gfh-btn-add-responsive d-sm-none">
          <img src="assets/img/add.svg" alt="Añadir">
        </button>
      </div>

      <!-- AQUI VA TODO LO DE LA COMPONENTE -->
      <div class="col-12">
        <div class="row">
          <div class="col-12 mb-4">
            <div class="card gfh-card">
              <div class="card-body p-0">

                
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>