@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* INICIO ESTILOS BODY */
body {
    margin: 0px !important;
    color: #EFF6FF;
}

h1, h2, h3, h4, h5, h6, p, span, a, div, ul, ol, li {
    color: #EFF6FF;
}

div.gfh-pages-body {
    background-color: #121212 !important;
    min-height: calc(100vh - 57px) !important;
}
/* FIN ESTILOS BODY */

/* INICIO ESTILOS HEADER */
.gfh-nav-custom {
    background-color: #1E1E1E !important;
    border-bottom: 2px solid #2B2B2B !important;
    padding: 0px 10px 0px 30px !important;
    min-height: 57px !important;
    /* max-height: 57px !important; */
}

.gfh-titulo-header {
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 36px !important;
    color: #EFF6FF !important;
}

.gfh-indicadores {
    font-family: 'Lato', sans-serif !important;
    font-size: 12px !important;
    line-height: 36px !important;
    color: #EFF6FF !important;
}
/* FIN ESTILOS HEADER */

/* INICIO ESTILOS SIDEBAR */
.gfh-sidebar-container {
    height: calc(100% - 57px) !important;
    position: fixed !important;
    top: auto !important;
    left: 0 !important;
    background-color: #1E1E1E !important;
    border-right: 2px solid #2B2B2B !important;
    transition: 0.5s !important;
    overflow-x: hidden !important;
    white-space: nowrap !important;
    box-shadow: 5px 0px 10px 0px #0000001A !important;
    z-index: 2 !important;
}

.gfh-container-btn-sidebar {
    padding: 5px 10px !important;
}

.gfh-btn-sidebar {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    border: none !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 23.68px !important;
    text-align: left !important;
    color: #969696 !important;
}

.gfh-btn-sidebar.selected {
    font-weight: 700 !important;
    color: #EFF6FF !important;
    background-color: #2B2B2B !important;
    border-radius: 10px !important;
}

.gfh-btn-sidebar:hover {
    color: #EFF6FF !important;
    background-color: #2B2B2B !important;
    border-radius: 10px !important;
}

.gfh-btn-sidebar img.selected {
    padding: 10px !important;
    margin-right: 10px !important;
    border-radius: 10px !important;
    background: #2B2B2B !important;
}

.gfh-btn-sidebar img {
    padding: 10px !important;
    margin-right: 10px !important;
    border-radius: 10px !important;
    background: transparent !important;
}

.gfh-text-off {
    color: transparent !important;
}
/* FIN ESTILOS SIDEBAR */

/* OTRAS CLASES */
.ghf-btn {
    background: #2B2B2B !important;
    color: #EFF6FF !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    min-width: 160px !important;
}

.ghf-btn-dropdown {
    background-color: #2B2B2B !important;
    text-align: center !important;
    color: #EFF6FF !important;
    padding: 0px !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

.ghf-btn-dropdown-options {
    background-color: #2B2B2B !important;
    text-align: center !important;
    color: #EFF6FF !important;
}

.ghf-btn-dropdown-options:hover {
    background-color: #1E1E1E !important;
}

.gfh-titulo-component {
    font-family: 'Nunito', sans-serif !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    color: #EFF6FF !important;
    margin-bottom: 0px !important;
}

.gfh-titulo {
    font-family: 'Nunito', sans-serif !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #EFF6FF !important;
}

.gfh-titulo-card {
    font-family: 'Nunito', sans-serif !important;
    font-size: 12px !important;
    color: #666666 !important;
}

.gfh-valor-total {
    font-family: 'Lato', sans-serif !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    color: #EFF6FF !important;
    margin-bottom: 0px !important;
}

.gfh-valor-tabla {
    font-family: 'Lato', sans-serif !important;
}

.gfh-texto-grafico {
    font-family: 'Nunito', sans-serif !important;
    font-size: 12px !important;
    color: #666666 !important;
    margin-bottom: 16px !important;
}

.gfh-card {
    background-color: #1E1E1E !important;
    border: 1px solid #2B2B2B !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
}

.gfh-table {
    border: 1px solid #2B2B2B !important;
}

.gfh-table > thead > tr > th {
    font-family: 'Nunito', sans-serif !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #EFF6FF !important;
    background: #2B2B2B !important;
    text-align: center !important;
}

.gfh-table > tbody > tr > td {
    font-family: 'Nunito', sans-serif !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #EFF6FF !important;
    background: #1E1E1E !important;
    border-bottom: solid 1px #2B2B2B !important;
}

.gfh-legend {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 30px !important;
    font-family: 'Nunito', sans-serif !important;
}

.gfh-btn-add {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #2B2B2B !important;
    color: #EFF6FF !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    min-width: 160px !important;
}

.gfh-btn-add-responsive {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #2B2B2B !important;
    color: #EFF6FF !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

.gfh-btn-add:hover {
    background-color: #1E1E1E !important;
}

.gfh-titulo-formulario {
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #EFF6FF !important;
}

.custom-input {
    background-color: #2b2b2b !important;
    color: #EFF6FF !important;
    border: 1px solid #444 !important;
  }
  
.custom-input::placeholder {
color: #aaa !important;
}

.form-check-input {
    background-color: #eff6ff !important;
    border-color: #00E676 !important;
}

.form-check-input:checked {
    background-color: #00E676 !important;
    border-color: #00E676 !important;
}

.gfh-card-tabla {
    background-color: #1E1E1E !important;
    border: 1px solid #2B2B2B !important;
    border-radius: 10px !important;
    padding: 20px !important;
}

input[type="text"].gfh-input-edit-income {
    height: 18px !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    text-align: end !important;
    color: #EFF6FF !important;
}